[submodule "theos"]
	path = theos
	url = git://github.com/DHowett/theos.git
[submodule "JGRUSBDeviceMonitoring"]
	path = JGRUSBDeviceMonitoring
	url = https://github.com/mralexgray/JGRUSBDeviceMonitoring.git
  branch = usbdevice
